DRIVER=~fastapi+~websockets
HOST=127.0.0.1
PORT=8080
LOG_LEVEL=DEBUG
FASTAPI_RELOAD=true

SUPERUSERS=[""]
COMMAND_START=["/", ""]

SETU_BAN_GROUP=[""]

LEETCODE_QQ_FRIENDS=[]
LEETCODE_QQ_GROUPS=[]
LEETCODE_INFORM_TIME=[{"HOUR":20,"MINUTE":1}]

AI_DRAW_TOKEN=""
AI_DRAW_COOLDOWN=
AI_DRAW_DAILY=